*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #f7f5f8;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    background: none;
}

input,
textarea,
select {
    font-family: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}
